* {
    --white: white;
    --green: #198030;
    --light-green: #beecb0;
    --black: black;
    --robotoFont: "Roboto", sans-serif;
    --darkgreen: #004400;
}
body {
    background-color: var(--white);
    /* Fix for Header*/
    margin: 0;
    font-size: 1.5rem !important;
}
.body {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
        ". logo ."
        "header header header"
        "nav nav nav"
        ". main ."
        "footer footer footer";
}
@media screen and (max-width: 650px) {
    .body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "logo"
            "header"
            "nav"
            "main"
            "footer";
    }
}

.header {
    grid-area: header;
    /*border: 1px solid red;*/
    width: 100%;
    background-color: var(--darkgreen);
}
.main {
    grid-area: main;
    /*border: 1px solid red;*/
    width: 100%;
    min-height: 500px;
    background-color: var(--white);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-left: 1px solid var(--green);
    border-right: 1px solid var(--green);
}
.footer {
    grid-area: footer;
    /*border: 1px solid red;*/
    width: 100%;
    background-color: var(--darkgreen);
    font-family: var(--robotoFont);
    padding: 0;
    color: var(--white);
    text-align: center;
}
.nav {
    grid-area: nav;
    /*border: 1px solid red;*/
    width: 100%;
    background-color: var(--darkgreen);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
@media screen and (max-width: 650px) {
    .nav {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.logo-top,
.logo-top-render {
    border: none;
}
.title {
    font-family: var(--robotoFont);
    font-size: 3em;
    font-weight: 800;
    color: var(--white);
}
@media screen and (max-width: 650px) {
    .title {
        font-size: 2em;
    }
    .main {
        border: none !important;
        padding: 0% !important;
    }
}
@media screen and (max-width: 430px) {
    .title {
        font-size: 1.5em;
    }
    .blog {
        border: none !important;
    }
}
@media screen and (max-width: 350px) {
    .title {
        font-size: 1.2em;
    }
}

.title-container {
    /*border: 1px solid red;*/
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.25rem;
    gap: 2rem;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.flex-row {
    flex-direction: row;
}
.center {
    grid-area: logo;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: ". img .";
    flex-direction: row;
    /*border: 1px solid red*/
}
.grid-img {
    grid-area: img;
}
.nav-button {
    color: white;
    background-color: var(--green);
    font-family: var(--robotoFont);
    border-radius: 5px;
    border: none;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
.konzept-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}
.konzept-beschreibung {
    font-family: var(--robotoFont);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    margin: 1rem;
}
.konzept-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "img1 pillar1 pillar1"
        "pillar2 pillar2 img2"
        "img3 pillar3 pillar3"
        "pillar4 pillar4 img4";

    gap: 1rem;
    padding: 1rem;
    font-family: var(--robotoFont);
    font-size: 1.5rem;
    font-weight: 600;
}
.konzept {
    background-color: var(--white) !important;
}
.konzept-grid-pillar {
    background-color: var(--light-green);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.konzept-grid-pillar-1 {
    grid-area: pillar1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid red;*/
}
.konzept-grid-pillar-2 {
    grid-area: pillar2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid red;*/
}
.konzept-grid-pillar-3 {
    grid-area: pillar3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /*border: 1px solid red;*/
}
.konzept-grid-pillar-4 {
    grid-area: pillar4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid red;*/
}
.konzept-grid-img-1 {
    grid-area: img1;
    display: flex;
    align-items: center;
    justify-content: center;

    /*border: 1px solid red;*/
}
.konzept-grid-img-2 {
    grid-area: img2;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
}
.konzept-grid-img-3 {
    grid-area: img3;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
}
.konzept-grid-img-4 {
    grid-area: img4;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
}
.seperator-line {
    border: 1px solid var(--green);
    width: 100%;
    margin: 3rem 0rem;
    padding: 0%;
    border-top: none;
    border-left: none;
    border-right: none;
}
.blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title"
        "img"
        "text";
    gap: 1rem;
    padding: 1rem;
    font-family: var(--robotoFont);
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 1px solid var(--green);
    margin: 0 1rem;
}
.blog-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid red;*/
    font-weight: 900;
    background-color: var(--white);
}
.blog-img {
    grid-area: img;
    /*allign content center*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
    background-color: var(--white);
}
.blog-img-element {
    margin: inherit;
}
.blog-author {
    grid-area: author;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid red;*/
    background-color: var(--white);
}
.blog-text {
    grid-area: text;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid red;*/
    background-color: var(--white);
    font-weight: 400;
}
/*Do not show Konzept logo on small devices*/
@media screen and (max-width: 600px) {
    .logo-konzept {
        display: none;
    }
}
/*Do not show Konzept trees on smaller devices*/
@media screen and (max-width: 600px) {
    .konzept-grid-img-1 {
        display: none;
    }
    .konzept-grid-img-2 {
        display: none;
    }
    .konzept-grid-img-3 {
        display: none;
    }
    .konzept-grid-img-4 {
        display: none;
    }
    .konzept-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "pillar1"
            "pillar2"
            "pillar3"
            "pillar4";
    }
}
span > .stress {
    font-weight: 900 !important;
}

/*Kontakt Site*/
.kontakt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        "title "
        "standard"
        "social";
    /*Center Items*/
    justify-items: center;
    align-items: center;
    padding: 1rem;
    font-family: var(--robotoFont);
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0rem;
}
.kontakt-title {
    grid-area: title;
    text-align: center;
    /*border: 1px solid red;*/
    font-weight: 900;
    background-color: var(--white);
}
.kontakt-text {
    grid-area: standard;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid red;*/
    background-color: var(--white);
}

.kontakt-social-media {
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid red;*/
    background-color: var(--white);
}
.social-media-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    /*border: 1px solid red;*/
}
.social-media-img {
    padding: 1rem;
}
.social-media-img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.social-media-link {
    text-decoration: none;
    color: var(--green);
    border: 2px solid var(--green);
    border-radius: 50%;
}

.partner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    /* Alignment */
    justify-items: center;
    align-items: center;
}

/* on smaller Screens */
@media screen and (max-width: 400px) {
    .partner {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .partner {
        grid-template-columns: 1fr 1fr;
    }
}

.partner-item {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: 1px solid red;*/
    background-color: var(--white);
    /* Font */
    font-family: var(--robotoFont);
    font-size: 1rem;
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: var(--green);
}

@media screen and (min-width: 600px) {
    .col-span {
        grid-column: span 2;
    }
    .col-span figure img {
        width: 500px;
    }
    .row-span {
        grid-row: span 2;
    }
}
