* {
    --white: white;
    --green: #198030;
    --black: black;
    --robotoFont: "Roboto", sans-serif;
    --darkgreen: #004400;
}
body {
    background-color: var(--white);
    /* Fix for Header*/
    margin: 0;
}
.body {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
        ". logo ."
        "header header header"
        "nav nav nav"
        ". main ."
        "footer footer footer";
}
.header {
    grid-area: header;
    border: 1px solid red;
    width: 100%;
    background-color: var(--darkgreen);
}
.main {
    grid-area: main;
    border: 1px solid red;
    width: 100%;
    min-height: 1000px;
    background-color: var(--white);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.footer {
    grid-area: footer;
    border: 1px solid red;
    width: 100%;
    background-color: var(--white);
}
.nav {
    grid-area: nav;
    border: 1px solid red;
    width: 100%;
    background-color: var(--darkgreen);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.logo-top,
.logo-top-render {
    border: none;
}
.title {
    font-family: var(--robotoFont);
    font-size: 3em;
    font-weight: 800;
    color: var(--white);
}
@media screen and (max-width: 600px) {
    .title {
        font-size: 2em;
    }
}

.title-container {
    /*border: 1px solid red;*/
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.25rem;
    gap: 2rem;
}
.flex {
    display: flex;
    align-items: center;
  justify-content: center;
  text-align: center;
}
.flex-row{
    flex-direction: row;
}
.center {
    grid-area: logo;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: ". img .";
    flex-direction: row;
    border: 1px solid red
}
.grid-img {
    grid-area: img;
}
.nav-button {
    color: white;
    background-color: var(--green);
    font-family: var(--robotoFont);
    border-radius: 5px;
    border: none;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;

}